In [1]:
import pandas as pd
import numpy as np
import wrds

In [5]:
%%time
df = pd.read_parquet('../data/temp/sp500_001_250_2018.parquet')

CPU times: user 3.7 s, sys: 3.08 s, total: 6.78 s
Wall time: 3.6 s

In [ ]:
%%time
df = pd.read_parquet('../data/temp/test.zip')

In [ ]:
raw_output_chunk_df = db.raw_sql(
    f"""
     SELECT date,cast(time_m as VARCHAR),ex,sym_root,price,
         (CAST(FLOOR((EXTRACT(hour from time_m)*60 + EXTRACT(minute from time_m))/5) AS INT)) AS mod_time_m
     FROM taqm_{query_year}.{sql_table_name}
     WHERE (sym_suffix IS NULL)
         AND (sym_root IN ({sym_chunk_sql}))
     LIMIT 100
     """
)

**Summary**
* Connect to WRDS automatically
* Query data for a particular day and particular stocks on that day
* Resample data to get 5min prices
* Export to csv

In [14]:
db = wrds.Connection(**{'wrds_username': 'sa400'})

Loading library list...
Done

In [3]:
sp500_sym_list = list(pd.read_csv('../data/keys/sp500_codes.txt', header = None).iloc[:,0])

In [4]:
pd.Series(
    np.random.choice(pd.read_csv("../data/keys/sp500_codes.txt", header=None).iloc[:, 0], 100)
).to_csv("../data/keys/sp500_codes_random100.txt", sep="\n", index=False, header = None)

In [5]:
[x for x in db.list_libraries() if 'taq'  in x]

['taq',
 'taqm_2014',
 'taqm_2015',
 'taqm_2016',
 'taqm_2017',
 'taqm_2018',
 'taqm_2019',
 'taqm_2020',
 'taqmsec']

In [6]:
db.raw_sql('''
SELECT *
FROM taqmsec.ctm_20191231
LIMIT 100
''')

,date,time_m,ex,sym_root,sym_suffix,tr_scond,size,price,tr_stop_ind,tr_corr,tr_seqnum,tr_id,tr_source,tr_rf,part_time,trf_time,tte_ind
0,2019-12-31,09:30:00.177000,P,A,None,F I,1.0,84.85,N,00,109401.0,52983525032497,C,None,09:30:00.177000,None,1
1,2019-12-31,09:30:00.177000,P,A,None,Q,1.0,84.85,N,00,109501.0,52983525032498,C,None,09:30:00.177000,None,0
2,2019-12-31,09:30:00.416000,N,A,None,O,9477.0,84.84,N,00,126901.0,52983525028173,C,None,09:30:00.416000,None,1
3,2019-12-31,09:30:00.416000,N,A,None,Q,9477.0,84.84,N,00,127001.0,52983525028174,C,None,09:30:00.416000,None,0
4,2019-12-31,09:30:00.869000,D,A,None,None,100.0,84.77,N,00,146701.0,71675223103559,C,T,09:30:00.864000,09:30:00.868000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-12-31,09:35:20.274000,J,A,None,I,18.0,84.79,N,00,1326701.0,52983525028950,C,None,09:35:20.274000,None,0
96,2019-12-31,09:35:20.280000,N,A,None,None,100.0,84.80,N,00,1326801.0,52983525098570,C,None,09:35:20.280000,None,0
97,2019-12-31,09:35:24.035000,J,A,None,F,100.0,84.81,N,00,1345801.0,52983525028961,C,None,09:35:24.035000,None,1
98,2019-12-31,09:35:24.877000,N,A,None,F I,56.0,84.81,N,00,1348101.0,52983525098804,C,None,09:35:24.877000,None,1
99,2019-12-31,09:35:24.878000,K,A,None,F I,44.0,84.80,N,00,1348201.0,52983525030716,C,None,09:35:24.877000,None,1

In [7]:
[x for x in db.list_tables(library = 'taqmsec') if 'ctm' in x][:-1]

['ctm_20030910',
 'ctm_20030911',
 'ctm_20030912',
 'ctm_20030915',
 'ctm_20030916',
 'ctm_20030917',
 'ctm_20030918',
 'ctm_20030919',
 'ctm_20030922',
 'ctm_20030923',
 'ctm_20030924',
 'ctm_20030925',
 'ctm_20030926',
 'ctm_20030929',
 'ctm_20030930',
 'ctm_20031001',
 'ctm_20031002',
 'ctm_20031003',
 'ctm_20031006',
 'ctm_20031007',
 'ctm_20031008',
 'ctm_20031009',
 'ctm_20031010',
 'ctm_20031013',
 'ctm_20031014',
 'ctm_20031015',
 'ctm_20031016',
 'ctm_20031017',
 'ctm_20031020',
 'ctm_20031021',
 'ctm_20031022',
 'ctm_20031023',
 'ctm_20031024',
 'ctm_20031027',
 'ctm_20031028',
 'ctm_20031029',
 'ctm_20031030',
 'ctm_20031031',
 'ctm_20031103',
 'ctm_20031104',
 'ctm_20031105',
 'ctm_20031106',
 'ctm_20031107',
 'ctm_20031110',
 'ctm_20031111',
 'ctm_20031112',
 'ctm_20031113',
 'ctm_20031114',
 'ctm_20031117',
 'ctm_20031118',
 'ctm_20031119',
 'ctm_20031120',
 'ctm_20031121',
 'ctm_20031124',
 'ctm_20031125',
 'ctm_20031126',
 'ctm_20031128',
 'ctm_20031201',
 'ctm_20031202',
 'ctm_20031203',
 'ctm_20031204',
 'ctm_20031205',
 'ctm_20031208',
 'ctm_20031209',
 'ctm_20031210',
 'ctm_20031211',
 'ctm_20031212',
 'ctm_20031215',
 'ctm_20031216',
 'ctm_20031217',
 'ctm_20031218',
 'ctm_20031219',
 'ctm_20031222',
 'ctm_20031223',
 'ctm_20031224',
 'ctm_20031226',
 'ctm_20031229',
 'ctm_20031230',
 'ctm_20031231',
 'ctm_20040102',
 'ctm_20040105',
 'ctm_20040106',
 'ctm_20040107',
 'ctm_20040108',
 'ctm_20040109',
 'ctm_20040112',
 'ctm_20040113',
 'ctm_20040114',
 'ctm_20040115',
 'ctm_20040116',
 'ctm_20040120',
 'ctm_20040121',
 'ctm_20040122',
 'ctm_20040123',
 'ctm_20040126',
 'ctm_20040127',
 'ctm_20040128',
 'ctm_20040129',
 'ctm_20040130',
 'ctm_20040202',
 'ctm_20040203',
 'ctm_20040204',
 'ctm_20040205',
 'ctm_20040206',
 'ctm_20040209',
 'ctm_20040210',
 'ctm_20040211',
 'ctm_20040212',
 'ctm_20040213',
 'ctm_20040217',
 'ctm_20040218',
 'ctm_20040219',
 'ctm_20040220',
 'ctm_20040223',
 'ctm_20040224',
 'ctm_20040225',
 'ctm_20040226',
 'ctm_20040227',
 'ctm_20040301',
 'ctm_20040302',
 'ctm_20040303',
 'ctm_20040304',
 'ctm_20040305',
 'ctm_20040308',
 'ctm_20040309',
 'ctm_20040310',
 'ctm_20040311',
 'ctm_20040312',
 'ctm_20040315',
 'ctm_20040316',
 'ctm_20040317',
 'ctm_20040318',
 'ctm_20040319',
 'ctm_20040322',
 'ctm_20040323',
 'ctm_20040324',
 'ctm_20040325',
 'ctm_20040326',
 'ctm_20040329',
 'ctm_20040330',
 'ctm_20040331',
 'ctm_20040401',
 'ctm_20040402',
 'ctm_20040405',
 'ctm_20040406',
 'ctm_20040407',
 'ctm_20040408',
 'ctm_20040412',
 'ctm_20040413',
 'ctm_20040414',
 'ctm_20040415',
 'ctm_20040416',
 'ctm_20040419',
 'ctm_20040420',
 'ctm_20040421',
 'ctm_20040422',
 'ctm_20040423',
 'ctm_20040426',
 'ctm_20040427',
 'ctm_20040428',
 'ctm_20040429',
 'ctm_20040430',
 'ctm_20040503',
 'ctm_20040504',
 'ctm_20040505',
 'ctm_20040506',
 'ctm_20040507',
 'ctm_20040510',
 'ctm_20040511',
 'ctm_20040512',
 'ctm_20040513',
 'ctm_20040514',
 'ctm_20040517',
 'ctm_20040518',
 'ctm_20040519',
 'ctm_20040520',
 'ctm_20040521',
 'ctm_20040524',
 'ctm_20040525',
 'ctm_20040526',
 'ctm_20040527',
 'ctm_20040528',
 'ctm_20040601',
 'ctm_20040602',
 'ctm_20040603',
 'ctm_20040604',
 'ctm_20040607',
 'ctm_20040608',
 'ctm_20040609',
 'ctm_20040610',
 'ctm_20040614',
 'ctm_20040615',
 'ctm_20040616',
 'ctm_20040617',
 'ctm_20040618',
 'ctm_20040621',
 'ctm_20040622',
 'ctm_20040623',
 'ctm_20040624',
 'ctm_20040625',
 'ctm_20040628',
 'ctm_20040629',
 'ctm_20040630',
 'ctm_20040701',
 'ctm_20040702',
 'ctm_20040706',
 'ctm_20040707',
 'ctm_20040708',
 'ctm_20040709',
 'ctm_20040712',
 'ctm_20040713',
 'ctm_20040714',
 'ctm_20040715',
 'ctm_20040716',
 'ctm_20040719',
 'ctm_20040720',
 'ctm_20040721',
 'ctm_20040722',
 'ctm_20040723',
 'ctm_20040726',
 'ctm_20040727',
 'ctm_20040728',
 'ctm_20040729',
 'ctm_20040730',
 'ctm_20040802',
 'ctm_20040803',
 'ctm_20040804',
 'ctm_20040805',
 'ctm_20040806',
 'ctm_20040809',
 'ctm_20040810',
 'ctm_20040811',
 'ctm_20040812',
 'ctm_20040813',
 'ctm_20040816',
 'ctm_20040817',
 'ctm_20040818',
 'ctm_20040819',
 'ctm_20040820',
 'ctm_20040823',
 'ctm_20040824',
 'ctm_20040825',
 'ctm_20040826',
 'ctm_20040827',
 'ctm_20040830',
 'ctm_20040831',
 'ctm_20040901',
 'ctm_20040902',
 'ctm_20040903',
 'ctm_20040907',
 'ctm_20040908',
 'ctm_20040909',
 'ctm_20040910',
 'ctm_20040913',
 'ctm_20040914',
 'ctm_20040915',
 'ctm_20040916',
 'ctm_20040917',
 'ctm_20040920',
 'ctm_20040921',
 'ctm_20040922',
 'ctm_20040923',
 'ctm_20040924',
 'ctm_20040927',
 'ctm_20040928',
 'ctm_20040929',
 'ctm_20040930',
 'ctm_20041001',
 'ctm_20041004',
 'ctm_20041005',
 'ctm_20041006',
 'ctm_20041007',
 'ctm_20041008',
 'ctm_20041011',
 'ctm_20041012',
 'ctm_20041013',
 'ctm_20041014',
 'ctm_20041015',
 'ctm_20041018',
 'ctm_20041019',
 'ctm_20041020',
 'ctm_20041021',
 'ctm_20041022',
 'ctm_20041025',
 'ctm_20041026',
 'ctm_20041027',
 'ctm_20041028',
 'ctm_20041029',
 'ctm_20041101',
 'ctm_20041102',
 'ctm_20041103',
 'ctm_20041104',
 'ctm_20041105',
 'ctm_20041108',
 'ctm_20041109',
 'ctm_20041110',
 'ctm_20041111',
 'ctm_20041112',
 'ctm_20041115',
 'ctm_20041116',
 'ctm_20041117',
 'ctm_20041118',
 'ctm_20041119',
 'ctm_20041122',
 'ctm_20041123',
 'ctm_20041124',
 'ctm_20041126',
 'ctm_20041129',
 'ctm_20041130',
 'ctm_20041201',
 'ctm_20041202',
 'ctm_20041203',
 'ctm_20041206',
 'ctm_20041207',
 'ctm_20041208',
 'ctm_20041209',
 'ctm_20041210',
 'ctm_20041213',
 'ctm_20041214',
 'ctm_20041215',
 'ctm_20041216',
 'ctm_20041217',
 'ctm_20041220',
 'ctm_20041221',
 'ctm_20041222',
 'ctm_20041223',
 'ctm_20041227',
 'ctm_20041228',
 'ctm_20041229',
 'ctm_20041230',
 'ctm_20041231',
 'ctm_20050103',
 'ctm_20050104',
 'ctm_20050105',
 'ctm_20050106',
 'ctm_20050107',
 'ctm_20050110',
 'ctm_20050111',
 'ctm_20050112',
 'ctm_20050113',
 'ctm_20050114',
 'ctm_20050118',
 'ctm_20050119',
 'ctm_20050120',
 'ctm_20050121',
 'ctm_20050124',
 'ctm_20050125',
 'ctm_20050126',
 'ctm_20050127',
 'ctm_20050128',
 'ctm_20050131',
 'ctm_20050201',
 'ctm_20050202',
 'ctm_20050203',
 'ctm_20050204',
 'ctm_20050207',
 'ctm_20050208',
 'ctm_20050209',
 'ctm_20050210',
 'ctm_20050211',
 'ctm_20050214',
 'ctm_20050215',
 'ctm_20050216',
 'ctm_20050217',
 'ctm_20050218',
 'ctm_20050222',
 'ctm_20050223',
 'ctm_20050224',
 'ctm_20050225',
 'ctm_20050228',
 'ctm_20050301',
 'ctm_20050302',
 'ctm_20050303',
 'ctm_20050304',
 'ctm_20050307',
 'ctm_20050308',
 'ctm_20050309',
 'ctm_20050310',
 'ctm_20050311',
 'ctm_20050314',
 'ctm_20050315',
 'ctm_20050316',
 'ctm_20050317',
 'ctm_20050318',
 'ctm_20050321',
 'ctm_20050322',
 'ctm_20050323',
 'ctm_20050324',
 'ctm_20050328',
 'ctm_20050329',
 'ctm_20050330',
 'ctm_20050331',
 'ctm_20050401',
 'ctm_20050404',
 'ctm_20050405',
 'ctm_20050406',
 'ctm_20050407',
 'ctm_20050408',
 'ctm_20050411',
 'ctm_20050412',
 'ctm_20050413',
 'ctm_20050414',
 'ctm_20050415',
 'ctm_20050418',
 'ctm_20050419',
 'ctm_20050420',
 'ctm_20050421',
 'ctm_20050422',
 'ctm_20050425',
 'ctm_20050426',
 'ctm_20050427',
 'ctm_20050428',
 'ctm_20050429',
 'ctm_20050502',
 'ctm_20050503',
 'ctm_20050504',
 'ctm_20050505',
 'ctm_20050506',
 'ctm_20050509',
 'ctm_20050510',
 'ctm_20050511',
 'ctm_20050512',
 'ctm_20050513',
 'ctm_20050516',
 'ctm_20050517',
 'ctm_20050518',
 'ctm_20050519',
 'ctm_20050520',
 'ctm_20050523',
 'ctm_20050524',
 'ctm_20050525',
 'ctm_20050526',
 'ctm_20050527',
 'ctm_20050531',
 'ctm_20050601',
 'ctm_20050602',
 'ctm_20050603',
 'ctm_20050606',
 'ctm_20050607',
 'ctm_20050608',
 'ctm_20050609',
 'ctm_20050610',
 'ctm_20050613',
 'ctm_20050614',
 'ctm_20050615',
 'ctm_20050616',
 'ctm_20050617',
 'ctm_20050620',
 'ctm_20050621',
 'ctm_20050622',
 'ctm_20050623',
 'ctm_20050624',
 'ctm_20050627',
 'ctm_20050628',
 'ctm_20050629',
 'ctm_20050630',
 'ctm_20050701',
 'ctm_20050705',
 'ctm_20050706',
 'ctm_20050707',
 'ctm_20050708',
 'ctm_20050711',
 'ctm_20050712',
 'ctm_20050713',
 'ctm_20050714',
 'ctm_20050715',
 'ctm_20050718',
 'ctm_20050719',
 'ctm_20050720',
 'ctm_20050721',
 'ctm_20050722',
 'ctm_20050725',
 'ctm_20050726',
 'ctm_20050727',
 'ctm_20050728',
 'ctm_20050729',
 'ctm_20050801',
 'ctm_20050802',
 'ctm_20050803',
 'ctm_20050804',
 'ctm_20050805',
 'ctm_20050808',
 'ctm_20050809',
 'ctm_20050810',
 'ctm_20050811',
 'ctm_20050812',
 'ctm_20050815',
 'ctm_20050816',
 'ctm_20050817',
 'ctm_20050818',
 'ctm_20050819',
 'ctm_20050822',
 'ctm_20050823',
 'ctm_20050824',
 'ctm_20050825',
 'ctm_20050826',
 'ctm_20050829',
 'ctm_20050830',
 'ctm_20050831',
 'ctm_20050901',
 'ctm_20050902',
 'ctm_20050906',
 'ctm_20050907',
 'ctm_20050908',
 'ctm_20050909',
 'ctm_20050912',
 'ctm_20050913',
 'ctm_20050914',
 'ctm_20050915',
 'ctm_20050916',
 'ctm_20050919',
 'ctm_20050920',
 'ctm_20050921',
 'ctm_20050922',
 'ctm_20050923',
 'ctm_20050926',
 'ctm_20050927',
 'ctm_20050928',
 'ctm_20050929',
 'ctm_20050930',
 'ctm_20051003',
 'ctm_20051004',
 'ctm_20051005',
 'ctm_20051006',
 'ctm_20051007',
 'ctm_20051010',
 'ctm_20051011',
 'ctm_20051012',
 'ctm_20051013',
 'ctm_20051014',
 'ctm_20051017',
 'ctm_20051018',
 'ctm_20051019',
 'ctm_20051020',
 'ctm_20051021',
 'ctm_20051024',
 'ctm_20051025',
 'ctm_20051026',
 'ctm_20051027',
 'ctm_20051028',
 'ctm_20051031',
 'ctm_20051101',
 'ctm_20051102',
 'ctm_20051103',
 'ctm_20051104',
 'ctm_20051107',
 'ctm_20051108',
 'ctm_20051109',
 'ctm_20051110',
 'ctm_20051111',
 'ctm_20051114',
 'ctm_20051115',
 'ctm_20051116',
 'ctm_20051117',
 'ctm_20051118',
 'ctm_20051121',
 'ctm_20051122',
 'ctm_20051123',
 'ctm_20051125',
 'ctm_20051128',
 'ctm_20051129',
 'ctm_20051130',
 'ctm_20051201',
 'ctm_20051202',
 'ctm_20051205',
 'ctm_20051206',
 'ctm_20051207',
 'ctm_20051208',
 'ctm_20051209',
 'ctm_20051212',
 'ctm_20051213',
 'ctm_20051214',
 'ctm_20051215',
 'ctm_20051216',
 'ctm_20051219',
 'ctm_20051220',
 'ctm_20051221',
 'ctm_20051222',
 'ctm_20051223',
 'ctm_20051227',
 'ctm_20051228',
 'ctm_20051229',
 'ctm_20051230',
 'ctm_20060103',
 'ctm_20060104',
 'ctm_20060105',
 'ctm_20060106',
 'ctm_20060109',
 'ctm_20060110',
 'ctm_20060111',
 'ctm_20060112',
 'ctm_20060113',
 'ctm_20060117',
 'ctm_20060118',
 'ctm_20060119',
 'ctm_20060120',
 'ctm_20060123',
 'ctm_20060124',
 'ctm_20060125',
 'ctm_20060126',
 'ctm_20060127',
 'ctm_20060130',
 'ctm_20060131',
 'ctm_20060201',
 'ctm_20060202',
 'ctm_20060203',
 'ctm_20060206',
 'ctm_20060207',
 'ctm_20060208',
 'ctm_20060209',
 'ctm_20060210',
 'ctm_20060213',
 'ctm_20060214',
 'ctm_20060215',
 'ctm_20060216',
 'ctm_20060217',
 'ctm_20060221',
 'ctm_20060222',
 'ctm_20060223',
 'ctm_20060224',
 'ctm_20060227',
 'ctm_20060228',
 'ctm_20060301',
 'ctm_20060302',
 'ctm_20060303',
 'ctm_20060306',
 'ctm_20060307',
 'ctm_20060308',
 'ctm_20060309',
 'ctm_20060310',
 'ctm_20060313',
 'ctm_20060314',
 'ctm_20060315',
 'ctm_20060316',
 'ctm_20060317',
 'ctm_20060320',
 'ctm_20060321',
 'ctm_20060322',
 'ctm_20060323',
 'ctm_20060324',
 'ctm_20060327',
 'ctm_20060328',
 'ctm_20060329',
 'ctm_20060330',
 'ctm_20060331',
 'ctm_20060403',
 'ctm_20060404',
 'ctm_20060405',
 'ctm_20060406',
 'ctm_20060407',
 'ctm_20060410',
 'ctm_20060411',
 'ctm_20060412',
 'ctm_20060413',
 'ctm_20060417',
 'ctm_20060418',
 'ctm_20060419',
 'ctm_20060420',
 'ctm_20060421',
 'ctm_20060424',
 'ctm_20060425',
 'ctm_20060426',
 'ctm_20060427',
 'ctm_20060428',
 'ctm_20060501',
 'ctm_20060502',
 'ctm_20060503',
 'ctm_20060504',
 'ctm_20060505',
 'ctm_20060508',
 'ctm_20060509',
 'ctm_20060510',
 'ctm_20060511',
 'ctm_20060512',
 'ctm_20060515',
 'ctm_20060516',
 'ctm_20060517',
 'ctm_20060518',
 'ctm_20060519',
 'ctm_20060522',
 'ctm_20060523',
 'ctm_20060524',
 'ctm_20060525',
 'ctm_20060526',
 'ctm_20060530',
 'ctm_20060531',
 'ctm_20060601',
 'ctm_20060602',
 'ctm_20060605',
 'ctm_20060606',
 'ctm_20060607',
 'ctm_20060608',
 'ctm_20060609',
 'ctm_20060612',
 'ctm_20060613',
 'ctm_20060614',
 'ctm_20060615',
 'ctm_20060616',
 'ctm_20060619',
 'ctm_20060620',
 'ctm_20060621',
 'ctm_20060622',
 'ctm_20060623',
 'ctm_20060626',
 'ctm_20060627',
 'ctm_20060628',
 'ctm_20060629',
 'ctm_20060630',
 'ctm_20060703',
 'ctm_20060705',
 'ctm_20060706',
 'ctm_20060707',
 'ctm_20060710',
 'ctm_20060711',
 'ctm_20060712',
 'ctm_20060713',
 'ctm_20060714',
 'ctm_20060717',
 'ctm_20060718',
 'ctm_20060719',
 'ctm_20060720',
 'ctm_20060721',
 'ctm_20060724',
 'ctm_20060725',
 'ctm_20060726',
 'ctm_20060727',
 'ctm_20060728',
 'ctm_20060731',
 'ctm_20060801',
 'ctm_20060802',
 'ctm_20060803',
 'ctm_20060804',
 'ctm_20060807',
 'ctm_20060808',
 'ctm_20060809',
 'ctm_20060810',
 'ctm_20060811',
 'ctm_20060814',
 'ctm_20060815',
 'ctm_20060816',
 'ctm_20060817',
 'ctm_20060818',
 'ctm_20060821',
 'ctm_20060822',
 'ctm_20060823',
 'ctm_20060824',
 'ctm_20060825',
 'ctm_20060828',
 'ctm_20060829',
 'ctm_20060830',
 'ctm_20060831',
 'ctm_20060901',
 'ctm_20060905',
 'ctm_20060906',
 'ctm_20060907',
 'ctm_20060908',
 'ctm_20060911',
 'ctm_20060912',
 'ctm_20060913',
 'ctm_20060914',
 'ctm_20060915',
 'ctm_20060918',
 'ctm_20060919',
 'ctm_20060920',
 'ctm_20060921',
 'ctm_20060922',
 'ctm_20060925',
 'ctm_20060926',
 'ctm_20060927',
 'ctm_20060928',
 'ctm_20060929',
 'ctm_20061002',
 'ctm_20061003',
 'ctm_20061004',
 'ctm_20061005',
 'ctm_20061006',
 'ctm_20061009',
 'ctm_20061010',
 'ctm_20061011',
 'ctm_20061012',
 'ctm_20061013',
 'ctm_20061016',
 'ctm_20061017',
 'ctm_20061018',
 'ctm_20061019',
 'ctm_20061020',
 'ctm_20061023',
 'ctm_20061024',
 'ctm_20061025',
 'ctm_20061026',
 'ctm_20061027',
 'ctm_20061030',
 'ctm_20061031',
 'ctm_20061101',
 'ctm_20061102',
 'ctm_20061103',
 'ctm_20061106',
 'ctm_20061107',
 'ctm_20061108',
 'ctm_20061109',
 'ctm_20061110',
 'ctm_20061113',
 'ctm_20061114',
 'ctm_20061115',
 'ctm_20061116',
 'ctm_20061117',
 'ctm_20061120',
 'ctm_20061121',
 'ctm_20061122',
 'ctm_20061124',
 'ctm_20061127',
 'ctm_20061128',
 'ctm_20061129',
 'ctm_20061130',
 'ctm_20061201',
 'ctm_20061204',
 'ctm_20061205',
 'ctm_20061206',
 'ctm_20061207',
 'ctm_20061208',
 'ctm_20061211',
 'ctm_20061212',
 'ctm_20061213',
 'ctm_20061214',
 'ctm_20061215',
 'ctm_20061218',
 'ctm_20061219',
 'ctm_20061220',
 'ctm_20061221',
 'ctm_20061222',
 'ctm_20061226',
 'ctm_20061227',
 'ctm_20061228',
 'ctm_20061229',
 'ctm_20070103',
 'ctm_20070104',
 'ctm_20070105',
 'ctm_20070108',
 'ctm_20070109',
 'ctm_20070110',
 'ctm_20070111',
 'ctm_20070112',
 'ctm_20070116',
 'ctm_20070117',
 'ctm_20070118',
 'ctm_20070119',
 'ctm_20070122',
 'ctm_20070123',
 'ctm_20070124',
 'ctm_20070125',
 'ctm_20070126',
 'ctm_20070129',
 'ctm_20070130',
 'ctm_20070131',
 'ctm_20070201',
 'ctm_20070202',
 'ctm_20070205',
 'ctm_20070206',
 'ctm_20070207',
 'ctm_20070208',
 'ctm_20070209',
 'ctm_20070212',
 'ctm_20070213',
 'ctm_20070214',
 'ctm_20070215',
 'ctm_20070216',
 'ctm_20070220',
 'ctm_20070221',
 'ctm_20070222',
 'ctm_20070223',
 'ctm_20070226',
 'ctm_20070227',
 'ctm_20070228',
 'ctm_20070301',
 'ctm_20070302',
 'ctm_20070305',
 'ctm_20070306',
 'ctm_20070307',
 'ctm_20070308',
 'ctm_20070309',
 'ctm_20070312',
 'ctm_20070313',
 'ctm_20070314',
 'ctm_20070315',
 'ctm_20070316',
 'ctm_20070319',
 'ctm_20070320',
 'ctm_20070321',
 'ctm_20070322',
 'ctm_20070323',
 'ctm_20070326',
 'ctm_20070327',
 'ctm_20070328',
 'ctm_20070329',
 'ctm_20070330',
 'ctm_20070402',
 'ctm_20070403',
 'ctm_20070404',
 'ctm_20070405',
 'ctm_20070409',
 'ctm_20070410',
 'ctm_20070411',
 'ctm_20070412',
 'ctm_20070413',
 'ctm_20070416',
 'ctm_20070417',
 'ctm_20070418',
 'ctm_20070419',
 'ctm_20070420',
 'ctm_20070423',
 'ctm_20070424',
 'ctm_20070425',
 'ctm_20070426',
 'ctm_20070427',
 'ctm_20070430',
 'ctm_20070501',
 'ctm_20070502',
 'ctm_20070503',
 'ctm_20070504',
 'ctm_20070507',
 'ctm_20070508',
 'ctm_20070509',
 'ctm_20070510',
 'ctm_20070511',
 'ctm_20070514',
 'ctm_20070515',
 'ctm_20070516',
 'ctm_20070517',
 'ctm_20070518',
 'ctm_20070521',
 'ctm_20070522',
 'ctm_20070523',
 'ctm_20070524',
 'ctm_20070525',
 'ctm_20070529',
 'ctm_20070530',
 'ctm_20070531',
 'ctm_20070601',
 'ctm_20070604',
 'ctm_20070605',
 'ctm_20070606',
 'ctm_20070607',
 'ctm_20070608',
 'ctm_20070611',
 'ctm_20070612',
 'ctm_20070613',
 'ctm_20070614',
 'ctm_20070615',
 'ctm_20070618',
 'ctm_20070619',
 'ctm_20070620',
 'ctm_20070621',
 'ctm_20070622',
 'ctm_20070625',
 'ctm_20070626',
 'ctm_20070627',
 'ctm_20070628',
 'ctm_20070629',
 'ctm_20070702',
 'ctm_20070703',
 'ctm_20070705',
 'ctm_20070706',
 'ctm_20070709',
 'ctm_20070710',
 'ctm_20070711',
 'ctm_20070712',
 'ctm_20070713',
 'ctm_20070716',
 'ctm_20070717',
 'ctm_20070718',
 'ctm_20070719',
 'ctm_20070720',
 'ctm_20070723',
 'ctm_20070724',
 'ctm_20070725',
 'ctm_20070726',
 'ctm_20070727',
 'ctm_20070730',
 'ctm_20070731',
 'ctm_20070801',
 'ctm_20070802',
 'ctm_20070803',
 'ctm_20070806',
 'ctm_20070807',
 'ctm_20070808',
 'ctm_20070809',
 'ctm_20070810',
 'ctm_20070813',
 'ctm_20070814',
 'ctm_20070815',
 'ctm_20070816',
 'ctm_20070817',
 'ctm_20070820',
 'ctm_20070821',
 'ctm_20070822',
 'ctm_20070823',
 'ctm_20070824',
 'ctm_20070827',
 'ctm_20070828',
 'ctm_20070829',
 ...]

In [8]:
db.describe_table(library = 'taqm_2020', table = 'ctm_20200601')

The row count will return 0 due to the structure of TAQ
Approximately 0 rows in taqm_2020.ctm_20200601.

           name  nullable                    type
0          date      True                    DATE
1        time_m      True  TIME WITHOUT TIME ZONE
2            ex      True              VARCHAR(1)
3      sym_root      True              VARCHAR(6)
4    sym_suffix      True             VARCHAR(10)
5      tr_scond      True              VARCHAR(4)
6          size      True                 NUMERIC
7         price      True                 NUMERIC
8   tr_stop_ind      True              VARCHAR(1)
9       tr_corr      True              VARCHAR(2)
10    tr_seqnum      True                 NUMERIC
11        tr_id      True             VARCHAR(20)
12    tr_source      True              VARCHAR(1)
13        tr_rf      True              VARCHAR(1)
14    part_time      True  TIME WITHOUT TIME ZONE
15     trf_time      True  TIME WITHOUT TIME ZONE
16      tte_ind      True              VARCHAR(1)

In [9]:
sp500_sym_list[:10]

['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN', 'ATVI', 'ADBE', 'AMD', 'AAP', 'AES']

In [10]:
sym_list_sql = ("'" + "', '".join(sp500_sym_list[:2]) + "'")
sym_list_sql

"'MMM', 'ABT'"

In [15]:
%%time
raw_output_df= db.raw_sql(f'''
SELECT date,cast(time_m as VARCHAR),sym_root,price,
    (CAST(FLOOR((EXTRACT(hour from time_m)*60 + EXTRACT(minute from time_m))/5) AS INT)) AS mod_time_m
FROM taqm_2020.ctm_20200601d
WHERE (sym_root IN ('MMM', 'ABT', 'ABBV', 'NFLX'))
''')

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "taqm_2020.ctm_20200601d" does not exist
LINE 4: FROM taqm_2020.ctm_20200601d
             ^

[SQL:
SELECT date,cast(time_m as VARCHAR),sym_root,price,
    (CAST(FLOOR((EXTRACT(hour from time_m)*60 + EXTRACT(minute from time_m))/5) AS INT)) AS mod_time_m
FROM taqm_2020.ctm_20200601d
WHERE (sym_root IN ('MMM', 'ABT', 'ABBV', 'NFLX'))
]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [16]:
%%time
raw_output_df= db.raw_sql(f'''
SELECT date,cast(time_m as VARCHAR),sym_root,price,
    (CAST(FLOOR((EXTRACT(hour from time_m)*60 + EXTRACT(minute from time_m))/5) AS INT)) AS mod_time_m
FROM taqm_2020.ctm_20200601
WHERE (CAST(time_m as time) between '09:30:00' AND '16:00:00') 
    AND NOT (ex = 'M' OR ex = 'D') 
    AND (sym_suffix IS NULL)
    AND (sym_root IN ('MMM', 'ABT', 'ABBV', 'NFLX'))
''')

InternalError: (psycopg2.errors.ProhibitedSqlStatementAttempted) password is required
DETAIL:  Non-superusers must provide a password in the user mapping.

[SQL:
SELECT date,cast(time_m as VARCHAR),sym_root,price,
    (CAST(FLOOR((EXTRACT(hour from time_m)*60 + EXTRACT(minute from time_m))/5) AS INT)) AS mod_time_m
FROM taqm_2020.ctm_20200601
WHERE (CAST(time_m as time) between '09:30:00' AND '16:00:00')
    AND NOT (ex = 'M' OR ex = 'D')
    AND (sym_suffix IS NULL)
    AND (sym_root IN ('MMM', 'ABT', 'ABBV', 'NFLX'))
]
(Background on this error at: http://sqlalche.me/e/13/2j85)

In [13]:
%%time
raw_output_df = db.raw_sql(
    f"""
WITH temptable AS (
    SELECT date,cast(time_m as VARCHAR),ex,sym_root,price,
        (CAST(FLOOR((EXTRACT(hour from time_m)*60 + EXTRACT(minute from time_m))/5) AS INT)) AS mod_time_m
    FROM taqm_2020.ctm_20200601
    WHERE (sym_suffix IS NULL)
        AND (sym_root IN ('MMM', 'ABT'))
)

SELECT * 
FROM temptable
WHERE time_m IN (
    SELECT MAX(time_m)
    FROM temptable
    WHERE (ex NOT IN ('D', 'M'))
    GROUP BY mod_time_m,sym_root
)
"""
)

raw_output_df.head()

InternalError: (psycopg2.errors.ProhibitedSqlStatementAttempted) password is required
DETAIL:  Non-superusers must provide a password in the user mapping.

[SQL:
WITH temptable AS (
    SELECT date,cast(time_m as VARCHAR),ex,sym_root,price,
        (CAST(FLOOR((EXTRACT(hour from time_m)*60 + EXTRACT(minute from time_m))/5) AS INT)) AS mod_time_m
    FROM taqm_2020.ctm_20200601
    WHERE (sym_suffix IS NULL)
        AND (sym_root IN ('MMM', 'ABT'))
)

SELECT *
FROM temptable
WHERE time_m IN (
    SELECT MAX(time_m)
    FROM temptable
    WHERE (ex NOT IN ('D', 'M'))
    GROUP BY mod_time_m,sym_root
)
]
(Background on this error at: http://sqlalche.me/e/13/2j85)

In [ ]:
%%time
raw_output_df= db.raw_sql(f'''
SELECT date,cast(time_m as VARCHAR),ex,sym_root,price,
    (CASTa(FLOOR((EXTRACT(hour from time_m)*60 + EXTRACT(minute from time_m))/5) AS INT)) AS mod_time_m
FROM taqm_2020.ctm_20200601
WHERE (sym_suffix IS NULL)
    AND (sym_root IN ('MMM', 'ABT', 'ABBV', 'NFLX'))
''')

raw_output_df = raw_output_df.loc[(raw_output_df['mod_time_m'] >= 114) & (raw_output_df['mod_time_m'] <= 191),:]
raw_output_df = raw_output_df.loc[(raw_output_df['ex'] != 'M') & (raw_output_df['ex'] != 'D'),:]
raw_output_df

In [ ]:
%%time
output_df = raw_output_df.astype(dtype={
        "sym_root": "string",
        "mod_time_m": 'int16'
    }).rename(columns = {'sym_root': 'ticker'})
output_df.info()

In [ ]:
%%time
output_resample_df = (
    output_df.groupby(["date", "ticker", "mod_time_m"])[["time_m", "price"]].last().reset_index()
)
output_resample_df["datetime"] = pd.to_datetime(
    output_resample_df["date"].astype(str)
    + " "
    + output_resample_df["mod_time_m"].apply(
        lambda x: f"{int(np.floor((x+1)*5/60)):02d}:{(x+1)*5 % 60:02d}"
    )
)
output_resample_df

In [ ]:
output_resample_df.query('ticker == "NFLX"')

In [ ]:
raw_output_df.drop_duplicates().groupby(['date','sym_root', 'mod_time_m']).last().reset_index().query('sym_root == "NFLX"')

In [ ]:
raw_output_df= db.raw_sql(f'''
    SELECT date,cast(time_m as VARCHAR),ex,sym_root,price,
        (CAST(FLOOR((EXTRACT(hour from time_m)*60 + EXTRACT(minute from time_m))/5) AS INT)) AS mod_time_m
    FROM taqm_2020.{'ctm_20200307'}
    LIMIT 100
    ''')

In [ ]:
import pandas as pd
import numpy as np
import wrds
import sys
import datetime as dt



### Functions

def list_str(li):
    # Convert python list to a string representation 
    # of the list for SQL queries
    return ("'" + "', '".join(li) + "'")

def print_with_time(string):
    # Print function that prepends string with 
    # the current date and time
    print(f'[{dt.datetime.now()}]: ' + string)

    
    
### Main
    
# Params
query_year = '2020'
query_month = '03'
output_filename = 'sp500_001_100_5minprices'

# Log in
db = wrds.Connection(**{'wrds_username': 'sa400'})

## Symbol subset

# Symbols to query
sym_list = list(pd.read_csv('../data/keys/sp500_codes.txt', header = None).iloc[:,0])
sym_list_sql = list_str(sym_list[:2])

## Process Data
print_with_time(f'Starting data processing')

# For each table for the selected year
trade_tables_list = [x for x in db.list_tables(library = 'taqm_' + str(query_year)) 
                     if f'ctm_{query_year}{query_month}' in x and 'ix' not in x]

if not len(trade_tables_list):
    raise Exception(f'No observations for {query_year}-{query_month}')

# Five minute price dataframes
output_resample_df_list = []

for sql_table_name in trade_tables_list:

    ## Load Data
    print_with_time(f'    Collecting data from {sql_table_name}')
    
    # SQL Query
    raw_output_df= db.raw_sql(f'''
    SELECT date,cast(time_m as VARCHAR),ex,sym_root,price,
        (CAST(FLOOR((EXTRACT(hour from time_m)*60 + EXTRACT(minute from time_m))/5) AS INT)) AS mod_time_m
    FROM taqm_2020.{sql_table_name}
    WHERE (sym_suffix IS NULL)
        AND (sym_root IN ({sym_list_sql}))
    ''')
    
    # Check if empty
    if not len(raw_output_df):
        print_with_time(f'    No observations for  {sql_table_name}')
        continue

    ## Clean
    print_with_time(f'    Cleaning data for    {sql_table_name}')

    # Filter
    raw_output_df = raw_output_df.loc[(raw_output_df['mod_time_m'] >= 114) & (raw_output_df['mod_time_m'] <= 191),:]
    raw_output_df = raw_output_df.loc[(raw_output_df['ex'] != 'M') & (raw_output_df['ex'] != 'D'),:]

    # Fix dtypes to save space
    output_df = raw_output_df.astype(dtype={
            "sym_root": "string",
            "mod_time_m": 'int16'
        }).rename(columns = {'sym_root': 'ticker'})

    # Resample
    output_resample_df = (
        output_df.groupby(["date", "ticker", "mod_time_m"])[["time_m", "price"]].last().reset_index()
    )
    output_resample_df["datetime"] = pd.to_datetime(
        output_resample_df["date"].astype(str)
        + " "
        + output_resample_df["mod_time_m"].apply(
            lambda x: f"{int(np.floor((x+1)*5/60)):02d}:{(x+1)*5 % 60:02d}"
        )
    )

    output_resample_df_list.append(output_resample_df)
    
    # Save 
    query_date = str(output_resample_df['date'].iloc[0]).replace('-', '')
#     output_resample_df.to_csv(f'../../data/clean/daily/{output_filename}_{query_date}.csv', index = False)
    
# ## Aggregate resampled daily files and save
# print_with_time('Saving results')
# output_resample_agg_df = pd.concat(output_resample_df_list)
# output_resample_agg_df.to_csv(f'../../data/clean/monthly/{output_filename}_{query_year}{query_month}.csv', index = False)